[Unit]
Description=GirlLM application stack
Wants=tg-bot.service tg-bot-natalie.service
After=network-online.target

[Install]
WantedBy=multi-user.target
